.roboto
{
    font-family: 'Roboto' !important;
}

a
{
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.hidden
{
    animation: 0.5s fadeIn;
    animation-delay: 1.8s;
    animation-fill-mode: forwards;
    visibility: hidden;
}

@keyframes fadeIn
{
    0%
    {
        opacity: 0;
        filter: blur(0.25rem);
    }

    100%
    {
        visibility: visible;
        opacity: 1;
        filter: blur(0);
    }
}

.vh-25 
{
    height: 25vh !important;
}

.vh-50 
{
    height: 50vh !important;
}

.vh-75 
{
    height: 75vh !important;
}

.svg img
{
    width: 80%;
}

.carousel .carousel-indicators button
{
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 100%;
}

.mockups
{
    height: 100%;
}

@media (max-width:991px)
{
    .content
    {
        height: 75vh !important;
        padding-top: 3rem !important;
    }
}

@media (max-width: 767px)
{
    #p1
    {
        font-size: 0.95rem !important;
    }
}

.contentHidden
{
    opacity: 0;
    filter: blur(0.75rem);
    transform: translateX(-20rem);
    transition: all 1s;
}

.contentShow
{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0px);
}

@media(prefers-reduced-motion)
{
    .contentHidden
    {
        transition: none;
    }

    .hidden
    {
        transition: none;
    }
}

.contentImage
{
    transition-delay: 200ms;
}