
.navbar
{
    transition: all 0.3s ease-in-out;
}

@media(max-width: 991px)
{
    .navbar
    {
        background-color: var(--bs-dark);
    }

    .header
    {
        height: 800px !important;
        min-height: 800px !important;
    }

    .header .text-container p
    {
        width: 100% !important;
        font-size: 16px;
    }

} 

.navbar-sticky
{
    opacity: 0.9;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.header
{
    min-height: 1000px;
    //                v--         this part adds this dark effect to the background         --v  v--         proper SVG pattern background         --v
    background-image: linear-gradient(to bottom right, rgba(0,0,0,0.8), rgba(0,0,0,0.8)), linear-gradient(30deg, #f5f4ed 12%, transparent 12.5%, transparent 87%, #f5f4ed 87.5%, #f5f4ed), linear-gradient(150deg, #f5f4ed 12%, transparent 12.5%, transparent 87%, #f5f4ed 87.5%, #f5f4ed), linear-gradient(30deg, #f5f4ed 12%, transparent 12.5%, transparent 87%, #f5f4ed 87.5%, #f5f4ed), linear-gradient(150deg, #f5f4ed 12%, transparent 12.5%, transparent 87%, #f5f4ed 87.5%, #f5f4ed), linear-gradient(60deg, rgba(245,244,237,0.5) 25%, transparent 25.5%, transparent 75%, rgba(245,244,237,0.5) 75%, rgba(245,244,237,0.5)), linear-gradient(60deg, rgba(245,244,237,0.5) 25%, transparent 25.5%, transparent 75%, rgba(245,244,237,0.5) 75%, rgba(245,244,237,0.5));
    background-size: 80px 140px;
    background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
    background-color: #222225;
}

// .gradient
// {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     background: linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(235, 176, 38, 1));
//     height: 50px;
// }