.header {
  background-color: #4492d1;
  opacity: 1;
  background-image: repeating-radial-gradient(circle at 0 0, transparent 0, #4492d1 40px), repeating-linear-gradient(rgba(14, 41, 84, 0.3333333333), #0E2954);
}

.navbar {
  transition: all 0.3s ease-in-out;
}

.navbar-sticky {
  opacity: 0.9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#wave {
  background-color: white;
}

.modal-dialog {
  max-width: 1040px;
}

.download {
  background-color: var(--bs-dark);
}

.map iframe {
  left: 0;
  top: 0;
  height: 400px;
  width: 100%;
  border: none;
}

@media (max-width: 991px) {
  .navbar {
    background-color: var(--bs-dark);
  }
}
@media (max-width: 991px) {
  .hero .image-container {
    display: flex;
    justify-content: center;
  }
  .hero .text-container {
    text-align: center;
  }
}
